body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  line-height: normal; }

a {
  text-decoration: none;
  color: black; }

h1 {
  font-size: 200%; }

h2 {
  font-size: 150%; }

h3 {
  font-size: 125%; }

#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

aside {
  width: 5.37%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; }

nav {
  width: 40.67%;
  padding-left: 5.37%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  z-index: -10; }

section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-left: 5.37%;
  transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out; }

aside {
  background: #efefef; }
  aside ul {
    width: 100%;
    float: left; }
    aside ul li {
      width: 100%;
      border-top: 1px solid silver;
      border-bottom: 1px solid silver;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      float: left; }
      aside ul li:hover {
        background: #D4D4D4; }
      aside ul li:active {
        background: #ccc; }
      aside ul li img {
        width: 100%;
        float: left; }
    aside ul #logoBtn {
      margin-top: 50px; }
    aside ul #studentBtn {
      margin-top: 125%; }
    aside ul #infoBtn {
      position: absolute;
      bottom: 0;
      left: 0; }
      aside ul #infoBtn img {
        width: 70%;
        margin-left: 15%; }

nav {
  background: #990000 url("http://humberinteractive.com/2013/assets/img/bg.jpg"); }
  nav #nav_container {
    width: 100%;
    float: left;
    padding: 50px 2.5% 25px 4%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    nav #nav_container #nav_top {
      margin-bottom: 25px;
      width: 100%;
      float: left; }
      nav #nav_container #nav_top li {
        width: 14.285%;
        float: left;
        overflow: hidden;
        list-style: none;
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out; }
        nav #nav_container #nav_top li .nav_top_item .nav_top_icon {
          width: 33%;
          float: left; }
          nav #nav_container #nav_top li .nav_top_item .nav_top_icon:active {
            background: #333; }
          nav #nav_container #nav_top li .nav_top_item .nav_top_icon img {
            width: 100%;
            vertical-align: middle;
            margin-right: 3%; }
        nav #nav_container #nav_top li .nav_top_item p {
          width: 63%;
          float: right;
          text-align: left;
          color: #000;
          text-transform: uppercase;
          font-size: 10pt;
          font-weight: bold;
          font-family: "Noto Sans", sans-serif;
          line-height: 70px; }
    nav #nav_container .black_line {
      height: 5px;
      width: 100%;
      float: left;
      padding: 10px 0; }
      nav #nav_container .black_line .black_stroke {
        height: 5px;
        width: 100%;
        float: left;
        background: #333; }
    nav #nav_container #nav_main {
      width: 100%;
      float: left;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box; }
      nav #nav_container #nav_main li {
        width: 100%;
        float: left;
        position: relative;
        opacity: 1;
        margin-bottom: 5px;
        cursor: pointer;
        padding: 2% 0;
        transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -webkit-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        color: #333;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 3px; }
        nav #nav_container #nav_main li:hover {
          background: rgba(255, 255, 255, 0);
          color: #000; }
        nav #nav_container #nav_main li p {
          font-size: 12pt;
          letter-spacing: -1px;
          float: left;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          margin-top: 3%;
          padding-left: 2%;
          font-weight: bold;
          font-family: "Noto Sans", sans-serif; }
          nav #nav_container #nav_main li p small {
            font-size: 7pt;
            font-weight: normal;
            display: block;
            color: #777;
            letter-spacing: 1px; }
        nav #nav_container #nav_main li img {
          float: left;
          height: 50px;
          margin-left: 2%;
          border-radius: 50%;
          -webkit-box-shadow: 0px 0px 5px 0px #333333;
          /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
          box-shadow: 0px 0px 5px 0px #333333;
          /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */ }

.jeff_fulgar {
  background: url("../imgs/SC-Jeff_Fulgar.jpg") no-repeat; }

section .cover-bg {
  height: 25%;
  width: 100%;
  margin-left: 0; }
section .profile-pic {
  background: red; }
section .profile-container {
  z-index: 11;
  top: 200px;
  left: 0;
  height: 50px;
  width: 100%;
  background: #eaeaea;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eaeaea 0%, #c9c9c9 94%, #aaaaaa 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(94%, #c9c9c9), color-stop(100%, #aaaaaa));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eaeaea 0%, #c9c9c9 94%, #aaaaaa 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eaeaea 0%, #c9c9c9 94%, #aaaaaa 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eaeaea 0%, #c9c9c9 94%, #aaaaaa 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #eaeaea 0%, #c9c9c9 94%, #aaaaaa 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeaea', endColorstr='#aaaaaa',GradientType=0 );
  /* IE6-9 */ }
  section .profile-container .name {
    position: absolute;
    z-index: 30;
    top: 0;
    left: 200px;
    line-height: 50px;
    font-weight: bold;
    font-family: "Noto Sans", sans-serif; }
  section .profile-container .profile-nav {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 692px;
    width: 277px;
    background: #999; }
    section .profile-container .profile-nav li {
      background: red;
      float: left;
      width: 80px;
      height: 50px;
      line-height: 50px;
      padding: 0 2%;
      margin-left: 1px;
      background: #eaeaea;
      /* Old browsers */
      background: -moz-linear-gradient(top, #eaeaea 0%, #c9c9c9 94%, #aaaaaa 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(94%, #c9c9c9), color-stop(100%, #aaaaaa));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #eaeaea 0%, #c9c9c9 94%, #aaaaaa 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #eaeaea 0%, #c9c9c9 94%, #aaaaaa 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #eaeaea 0%, #c9c9c9 94%, #aaaaaa 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #eaeaea 0%, #c9c9c9 94%, #aaaaaa 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeaea', endColorstr='#aaaaaa',GradientType=0 );
      /* IE6-9 */
      text-align: center; }
      section .profile-container .profile-nav li:hover {
        background: #f16521;
        /* Old browsers */
        background: -moz-linear-gradient(top, #f16521 0%, #963e15 94%, #aaaaaa 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f16521), color-stop(94%, #963e15), color-stop(100%, #aaaaaa));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #f16521 0%, #963e15 94%, #aaaaaa 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #f16521 0%, #963e15 94%, #aaaaaa 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #f16521 0%, #963e15 94%, #aaaaaa 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, #f16521 0%, #963e15 94%, #aaaaaa 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16521', endColorstr='#aaaaaa',GradientType=0 );
        /* IE6-9 */ }
section .section-title {
  position: absolute;
  z-index: 99999999999999999;
  top: 300px;
  left: 20px;
  width: 100%; }
  section .section-title h3.capitalize {
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    display: block;
    float: left;
    padding-right: 25%; }
section .biography {
  position: absolute;
  z-index: 99999999999999999;
  top: 320px;
  left: 20px;
  max-width: 340px;
  height: 335px;
  border-top: solid 1px silver;
  padding-top: 2%;
  width: 100%;
  float: left;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Noto Sans", sans-serif; }
  section .biography h3 {
    font-size: 20px;
    font-weight: bold; }
  section .biography .brdbtm {
    border-bottom: solid 1px silver;
    margin-bottom: 2px; }
  section .biography .copy-block {
    width: 100%;
    position: relative; }
    section .biography .copy-block a {
      display: block;
      margin-bottom: 6px; }
      section .biography .copy-block a:hover {
        background: red; }
    section .biography .copy-block .icon {
      width: 30px;
      height: 30px;
      float: left;
      line-height: 30px; }
    section .biography .copy-block .copy {
      margin: -35px 0 0 40px;
      height: auto;
      float: left;
      padding-bottom: 4%; }
    section .biography .copy-block .link {
      margin-left: 40px;
      line-height: 30px; }
section .selected_works {
  position: absolute;
  z-index: 99999999999999999;
  top: 320px;
  left: 411px;
  max-width: 540px;
  padding-top: 2%;
  height: 335px;
  border-top: solid 1px silver;
  width: 100%;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Noto Sans", sans-serif; }
  section .selected_works img {
    width: 49.7%; }
